:root {
  color: var(--text-color);
  text-shadow: 1px 1px 1.5px var(--text-shadow-color);
  font-family: DotGothic16, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text-color: var(--orange-2);
  --text-shadow-color: var(--orange-6);
  --bg-color: var(--dark-9);
  --radius: 0.2rem;

  --dark-0: #ece6e5;
  --dark-1: #cbbab9;
  --dark-2: #ac9290;
  --dark-3: #906f6d;
  --dark-4: #77514f;
  --dark-5: #633a38;
  --dark-6: #532928;
  --dark-7: #4a1e1e;
  --dark-8: #2e1413;
  --dark-9: #180a08;

  --orange-0: #ffefe7;
  --orange-1: #ffeadf;
  --orange-2: #ffdcc9;
  --orange-3: #ffc5a8;
  --orange-4: #fda87d;
  --orange-5: #f5854b;
  --orange-6: #b24b11;
  --orange-7: #803811;
  --orange-8: #512610;
  --orange-9: #261408;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

[hidden] {
  display: none;
}

#app {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  aspect-ratio: 16 / 9;
}

main {
  height: 100%;

  &.HomePage {
    display: grid;
    grid-template-areas: 'side main';
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
  }

  &.BirbsPage {
    background: var(--bg-color);
  }
}

.Main {
  grid-area: main;

  height: 100%;
}

.Sidebar {
  grid-area: side;

  display: flex;
  flex-direction: column;
  gap: 0.5em;

  background: var(--bg-color);
  height: 100%;
}

.Backgrounded {
  position: relative;

  > svg.pattern,
  > div.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  > svg.pattern {
    stroke: currentColor;
  }

  > div.gradient {
    background: linear-gradient(165deg, transparent, var(--bg-color) 75%);
  }

  > div.foreground {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.NowPlaying {
  padding: 0.5em 0.75em;
  margin: 2px;
}

.Marquee {
  --marquee-gap: 6em;

  min-height: 1lh;

  display: flex;
  gap: var(--marquee-gap);
  overflow: hidden;

  & > span {
    display: block;
    white-space: nowrap;
  }

  &.scroll > span {
    animation: marquee 10s linear infinite;
  }

  @keyframes marquee {
    0%,
    30% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - var(--marquee-gap)));
    }
  }
}

.Birbs {
  &,
  .container {
    width: 100%;
    height: 100%;
  }
}
